<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="fragments/header" />

<div class="container">
    <div class="card m-3" th:each="board : ${boards}">
        <div class="card-body">
            <h4 class="card-title" th:text="${board.title}">제목</h4>
            <a href="#" class="btn btn-primary">상세보기</a>
        </div>
    </div>
</div>

<ul class="pagination justify-content-center"> <!--시작은 start, 끝으로 보내고 싶으면 end-->
    <li class="page-item"><a class="page-link" th:href="@{'/?page='+${boards.number-1}}">Previous</a></li>
    <li class="page-item"><a class="page-link" th:href="@{'/?page='+${boards.number+1}}">Next</a></li>
    <!-- http://localhost:8000/?page=board.number1 이렇게 나오는디...href="/?page=${board.number+1}", 마지막페이지 비활성화?-->
</ul>

<div th:replace="fragments/footer" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

